@charset "UTF-8";
/* 스타일 첫번째 세트 */
*{margin:0; padding: 0;}
ul{list-style:none;}
a{text-decoration: none;}
/*.upperMenu{margin-left:15px;
           font:bold 30px "hy헤드라인m", sans-serif;
           display: block;
           background: cadetblue;
           width: 500px}*/
.subMenu{margin-left:30px;}
.contents{margin-left:45px;}
/*.subMenu a{display: block;
           background: chartreuse;
           width:200px;
           padding:5px;}*/
.exMenu{display: block;
        width:300px;
        padding: 5px;
        background: aquamarine;}
.date{display: block;
      width:200px;
      padding: 5px;
      font:bold 30px "hy헤드라인m", sans-serif;
      background: cadetblue;
      margin-left: 15px;
      margin-top: 3px;
      margin-bottom: 3px;}
/*.upperMenu .subMenu{display: none;}
.upperMenu li:hover .subMenu{display: block;}
.upperMenu li:active .subMenu{display: block;}
.upperMenu .subMenu li:hover .contents{display: block;}*/
.ul0220{list-style: circle;
        width:300px;}
.ul0220 li{background: gold;
           margin-left:30px;}
.dl0220{list-style: circle;}
.dl0220 dd{margin-left: 20px;}

























