@charset "UTF-8";
/* 스타일 첫번째 세트 */
*{margin:0; padding: 0;}
ul{list-style:none;}
a{text-decoration: none;}
/*.upperMenu{margin-left:15px;
           font:bold 30px "hy헤드라인m", sans-serif;
           display: block;
           background: cadetblue;
           width: 500px}*/
.subMenu{margin-left:30px;}
.contents{margin-left:45px;}
/*.subMenu a{display: block;
           background: chartreuse;
           width:200px;
           padding:5px;}*/
.exMenu{display: block;
        width:300px;
        padding: 5px;
        background: aquamarine;}
.date{display: block;
      width:200px;
      padding: 5px;
      font:bold 30px "hy헤드라인m", sans-serif;
      background: cadetblue;
      margin-left: 15px;
      margin-top: 3px;
      margin-bottom: 3px;}
/*.upperMenu .subMenu{display: none;}
.upperMenu li:hover .subMenu{display: block;}
.upperMenu li:active .subMenu{display: block;}
.upperMenu .subMenu li:hover .contents{display: block;}*/
.ul0220{list-style: circle;
        width:300px;}
.ul0220 li{background: gold;
           margin-left:30px;}
.dl0220{list-style: circle;}
.dl0220 dd{margin-left: 20px;}

/* 0221_ex07*/
.h1_0221_ex07{color:#266000;}
.h2_0221_ex07{color:#2F9D27;}
.h3_0221_ex07{color:#aaf;}
.p_0221_ex07{color:#00f;}
.span_0221_ex07{color: red;}
.div_0221_ex07{color: #2F9D27;}

/* 0221_ex08 */
p.text_0221_ex08{color:#329628;}
.text2_0221_ex08{color:#aaf;}

/* 0221_ex09 */
.box_0221_ex09 h2{color:red;}
.box_0221_ex09 p{color: green;}
div .box2_0221_ex09{color:olive;}
.box_0221_ex09 span{color:gray;}
div.box_0221_ex09 .box2_0221_ex09 .s_blue_0221_ex09{color:blue;}
h2 .s_green_0221_ex09{color:#00ff00;}

/* 0221_ex10 */
#aa_0221_ex10{color:red;
              background: aqua;}
#bb_0221_ex10{color:fuchsia;}

/* 0221_ex11 */
#0221_ex11 li p{border-width:20px;
                border-color:blue;
                font-size: 15px;
                color:red;}
.box1_0221_ex11{border-style: none;}
.box2_0221_ex11{border-style: hidden;}
.box3_0221_ex11{border-style: dotted;}
.box4_0221_ex11{border-style: dashed;}
.box5_0221_ex11{border-style: solid;}
.box6_0221_ex11{border-style: double;}
.box7_0221_ex11{border-style: groove;}
.box8_0221_ex11{border-style: ridge;}
.box9_0221_ex11{border-style: inset;}
.box10_0221_ex11{border:20px #f00 outset;}
























