@charset "UTF-8";
/* 스타일 첫번째 세트 */
*{margin:0; padding: 0;}
ul{list-style:none;}
a{text-decoration: none;}
/*.upperMenu{margin-left:15px;
           font:bold 30px "hy헤드라인m", sans-serif;
           display: block;
           background: cadetblue;
           width: 500px}*/
.subMenu{margin-left:30px;}
.contents{margin-left:45px;}
/*.subMenu a{display: block;
           background: chartreuse;
           width:200px;
           padding:5px;}*/
.exMenu{display: block;
        width:300px;
        padding: 5px;
        background: aquamarine;}
.date{display: block;
      width:200px;
      padding: 5px;
      font:bold 30px "hy헤드라인m", sans-serif;
      background: cadetblue;
      margin-left: 15px;
      margin-top: 3px;
      margin-bottom: 3px;}
/*.upperMenu .subMenu{display: none;}
.upperMenu li:hover .subMenu{display: block;}
.upperMenu li:active .subMenu{display: block;}
.upperMenu .subMenu li:hover .contents{display: block;}*/
.ul0220{list-style: circle;
        width:300px;}
.ul0220 li{background: gold;
           margin-left:30px;}
.dl0220{list-style: circle;}
.dl0220 dd{margin-left: 20px;}

/* 0221_ex07*/
.h1_0221_ex07{color:#266000;}
.h2_0221_ex07{color:#2F9D27;}
.h3_0221_ex07{color:#aaf;}
.p_0221_ex07{color:#00f;}
.span_0221_ex07{color: red;}
.div_0221_ex07{color: #2F9D27;}

/* 0221_ex08 */
p.text_0221_ex08{color:#329628;}
.text2_0221_ex08{color:#aaf;}

/* 0221_ex09 */
.box_0221_ex09 h2{color:red;}
.box_0221_ex09 p{color: green;}
div .box2_0221_ex09{color:olive;}
.box_0221_ex09 span{color:gray;}
div.box_0221_ex09 .box2_0221_ex09 .s_blue_0221_ex09{color:blue;}
h2 .s_green_0221_ex09{color:#00ff00;}

/* 0221_ex10 */
#aa_0221_ex10{color:red;
              background: aqua;}
#bb_0221_ex10{color:fuchsia;}

/* 0221_ex11 */
#ul_0221_ex11 li p{border-width:20px;
                border-color:blue;
                font-size: 15px;
                color:red;
                margin-bottom: 5px;}
.box1_0221_ex11{border-style: none;}
.box2_0221_ex11{border-style: hidden;}
.box3_0221_ex11{border-style: dotted;}
.box4_0221_ex11{border-style: dashed;}
.box5_0221_ex11{border-style: solid;}
.box6_0221_ex11{border-style: double;}
.box7_0221_ex11{border-style: groove;}
.box8_0221_ex11{border-style: ridge;}
.box9_0221_ex11{border-style: inset;}
.box10_0221_ex11{border:20px #f00 outset;}
.div1_0221_ex11{border: 10px solid green;
                width:200px;
                height:100px;}
.div2_0221_ex11{border-left: 10px solid blue;
                border-right:10px solid blue;}
.div3_0221_ex11{border-width: 10px 20px 30px 40px;
                border-style: solid;
                border-color: blue red;}

/* 0221_ex12 */
.div1_0221_ex12{border:green solid;
                border-width: 5px 2px 8px 5px;
                width:800px;
                height:100px;
                margin:5px;}
.div2_0221_ex12{border:2px solid;
                border-color:red blue green fuchsia;
                width:800px;
                height:100px;
                margin:5px;}
.div3_0221_ex12{border:2px black;
                border-style:solid double dashed dotted;
                width:800px;
                height:100px;
                margin:5px;}
.div4_0221_ex12{border-top:2px #266000 solid;
                border-bottom:2px #266000 solid;
                width:800px;
                height:100px;
                margin:5px;}

/* 0223_ex01 */
.a1_0223_ex01{text-decoration: none;}
.a2_0223_ex01{text-decoration: overline;}
.a3_0223_ex01{text-decoration: underline;}
.a4_0223_ex01{text-decoration: line-through;}

/* 0223_ex02 */
.li_0223_ex02{list-style: none;
              display: inline;}

/* 0223_ex03 */
#ul_0223_ex03 p{border: 1px solid black;
                padding: 5px;
                width: 150px;
                height: 50px;}

.a1_0223_ex03{overflow: hidden;}
.a2_0223_ex03{overflow: scroll;}
.a3_0223_ex03{overflow: auto;}
.a4_0223_ex03{overflow: visible;}
.a5_0223_ex03{overflow: auto;}























